<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<body>

<form method="post" action="{% url 'add-item' %}">
    {% csrf_token %}
    Title: <input name="title" type="text"/>
    Description: <input name="description" type="text"/>
    Price: <input name="price" type="text"/>
    Seller: <input name="seller" type="text"/>
    Buyer: <input name="buyer" type="text"/>
    Status: <input name="status" type="text"/>

    <input type="submit" name="submit">
</form>
</body>
</html>